<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section th:fragment="userEditableField(resourceName, action, value, isEmpty, editText, emptyText)"
         class="field">
    <th:block th:if="${user} and ${user.id == userSubject.id}">
        <label th:class="'edit' + ${resourceName}" th:for="'edit' + ${resourceName}">
            <th:block th:if="${isEmpty}" th:text="${editText}"></th:block>
            <th:block th:unless="${isEmpty}" th:text="${value}"></th:block>
        </label>
        <form class="toggleable-edit" th:action="${action}" method="post">
            <input type="text" th:id="'edit' + ${resourceName}" th:name="${resourceName}" th:value="${value}"></input>
            <input type="submit" value="Submit"></input>
        </form>
    </th:block>
    <th:block th:unless="${user} and ${user.id == userSubject.id}">
        <label th:class="'edit' + ${resourceName}">
            <th:block th:unless="${isEmpty}" th:text="${value}"></th:block>
            <th:block th:if="${isEmpty}" th:text="${emptyText}"></th:block>
        </label>
    </th:block>
</section>

<section th:fragment="userEditableTextarea(resourceName, action, value, isEmpty, editText, emptyText)"
    class="field">
    <th:block th:if="${user} and ${user.id == userSubject.id}">
        <label th:class="'edit' + ${resourceName}" th:for="'edit' + ${resourceName}">
            <th:block th:if="${isEmpty}" th:text="${editText}"></th:block>
            <th:block th:unless="${isEmpty}" th:text="${value}"></th:block>
        </label>
        <form class="toggleable-edit" th:action="${action}" method="post">
            <textarea th:id="'edit' + ${resourceName}" th:name="${resourceName}" th:value="${value}"></textarea>
            <input type="submit" value="Submit"></input>
        </form>
    </th:block>
    <th:block th:unless="${user} and ${user.id == userSubject.id}">
        <label th:class="'edit' + ${resourceName}">
            <th:block th:unless="${isEmpty}" th:text="${value}"></th:block>
            <th:block th:if="${isEmpty}" th:text="${emptyText}"></th:block>
        </label>
    </th:block>
</section>

<section th:fragment="userEditableDateField(resourceName, action, value, isEmpty, editText, emptyText)"
    class="field">
    <th:block th:if="${user} and ${user.id == userSubject.id}">
        <label th:class="'edit' + ${resourceName}" th:for="'edit' + ${resourceName}">
            <th:block th:if="${isEmpty}" th:text="${editText}"></th:block>
            <th:block th:unless="${isEmpty}" th:text="${value}"></th:block>
        </label>
        <form class="toggleable-edit" th:action="${action}" method="post">
            <input type="date" th:id="'edit' + ${resourceName}" th:name="${resourceName}" th:value="${value}"></input>
            <input type="submit" value="Submit"></input>
        </form>
    </th:block>
    <th:block th:unless="${user} and ${user.id == userSubject.id}">
        <label th:class="'edit' + ${resourceName}">
            <th:block th:unless="${isEmpty}" th:text="${value}"></th:block>
            <th:block th:if="${isEmpty}" th:text="${emptyText}"></th:block>
        </label>
    </th:block>
</section>

<section th:fragment="test(string)">
    <h1 th:text="${string}"></h1>
</section>

</body>
</html>