<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="list" th:fragment="list(posts)">
    <h2>
        <th:block th:text="${posts.size()}">
        </th:block> posts
    </h2>
    <th:block th:each="post : ${posts}">
        <section th:replace="fragments/post :: short(${post})"></section>
    </th:block>
</section>

<section class="listing" th:fragment="short(post)">
    <h1><a th:href="'/posts/' + ${post.id}">Post</a> by <a th:href="'/users/' + ${post.author.id}" th:text="${post.author.displayName}"></a>
         on
        <th:block th:text="${post.createdAt}"></th:block>
    </h1>

    <div class="text-content" th:text="${post.shortBody}">
    </div>
</section>

<section class="detail post-detail" th:fragment="detail(post)">
    <h1>Post by <a th:href="'/users/' + ${post.author.id}" th:text="${post.author.displayName}"></a></h1>

    <h2>Posted on <th:block th:text="${post.createdAt}"></th:block></h2>
    <section th:text="${post.body}"></section>
</section>

</body>
</html>