<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:replace="fragments/page :: header"></header>
<main>
    <th:block th:if="${post}"><h1>Edit Post</h1></th:block>
    <th:block th:unless="${post}"><h1>New Post</h1></th:block>

    <form th:if="${post}" th:action="'/posts/' + ${post.id}" method="post">
        <textarea id="post-editor" th:name="body" th:value="${posts.body}"></textarea>
        <input type="submit" value="Submit"></input>
    </form>
    <form th:unless="${post}" action="/posts/" method="post">
        <textarea id="post-editor" th:name="body" placeholder="Your post goes here!"></textarea>
        <input type="submit" value="Submit"></input>
    </form>
</main>
<footer th:replace="fragments/page :: footer"></footer>
</body>
</html>