<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <h1>Login</h1>
    <form action="/login" method="post">
        <fieldset>
            <label for="username-input">Username: </label>
            <input type="text" id="username-input" name="username"></input>
        </fieldset>
        <fieldset>
            <label for="password-input">Password: </label>
            <input type="password" id="password-input" name="password"></input>
        </fieldset>
        <input type="submit" />
    </form>
    <a href="/signup">Create a new account</a>
</main>

</body>
</html>